<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="commandBus" type="Reface.CommandBus.Configuration.CommandBusSection, Reface.CommandBus"/>
  </configSections>
  <commandBus>
    <handlers>
      <add type="Reface.CommandBus.Tests.CommandHandlers.NewUserCommandHandler, Reface.CommandBus.Tests"></add>
    </handlers>
  </commandBus>
</configuration>